.hero-main {
    padding-top: 94px;
}

.button-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    background: #ffffff;
    color: #212121;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
    color: #ffffff;
    background: #2196f3;
}

.hero-button:focus {
    color: #ffffff;
    background: #2196f3;
}



.posters-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.poster {
    padding-top: 50px;
    padding-bottom: 94px
}

.poster-title {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
    color: #212121;
    margin: 24px;

}

.poster-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 20px;
}

.poster-img {
    width: 370px;
    height: 294px;
}





.poster-item {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-basis: calc((100% - 65px) / 3);
    position: relative;
    overflow: hidden;
    transition: background-color 250ms linear 100ms,
     box-shadow 300ms linear 100ms, 
     transform 150ms linear 100ms;
}

.poster-item:hover {
    transform: scale(1.050);
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.poster-item:focus-within {
    transform: scale(1.050);
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}



.text-card:hover {
    opacity: 1;
    width: 100%;
    height: 395px;


}

.text-card:focus-within {
    opacity: 1;
    width: 100%;
    height: 395px;


}

.main-button {
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover {
    transform: scale(1.1);

}

.main-button:focus-within{
    transform: scale(1.1);

}

.box-card {
    height: 294px;
    background-color: rgba(33, 150, 243, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 63px 24px;
    transform: translatey(-100%);
    cursor: pointer;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.poster-item:hover .box-card, .card-link:focus .box-card{
    transform: translateY(0%);
}

.text-card{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.54px;
    line-height: 155.556%;
}