* {
    text-decoration: none;

}

body {
    font-family: 'Roboto';
}

.container {
    width: 1170px;
    outline: solid red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 94px;
}

.margin{
    margin-left: 30px;  
}

.section-main {
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;

}

.section-img{
    
    width: 370px;
    height: 294px;
    left: 1024px;
    top: 1075px;
    display: inline-block;
    
}

.section-one {
    background: #2F303A;
}

.section-list{
    display: flex;
    gap: 30px;
    align-items: center;
    

}

.header-container {
    display: flex;
    align-items: center;
}

.header-list

.section-one{
    background: #2F303A;
    margin-left: auto;
    margin-right: auto;
}

.section-title {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    text-align: center;
    color: #212121;
}

.section-title1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 3;
    text-align: center;
    color: #212121;
}

.section-Description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
}

.footer-WebStudio {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.footer-WebStudio1 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: rgb(252, 252, 252);
}

.footer-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    letter-spacing: 0.03em;

    color: #FFFFFF;

}

.header-WebStudio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 2.2142;
    color: #2196F3;
}

.header-WebStudio1 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 2.2142;
    color: #000000;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;

    color: #212121;


}

.nav-link:hover {
  border-radius: 4px;
  text-decoration: none;
    color: #2196F3
}

.nav-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    color: #757575;
}

.nav-contact:hover {
    color: #2196F3;
}

.section-title-work {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;

    color: #212121;
}

.section-paragraph {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;

    letter-spacing: 0.03em;

    color: #757575;
}

.section-button {
    font-family: 'Roboto';
    font-weight: 670px;
    font-size: 16px;
    vertical-align: middle;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    max-width: 100%;
    display: flex;
    padding: 10px 32px;

    background-color: #2196F3;
    color: #FFFFFF;
}

.container-two{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 200px;
    padding-bottom: 200px;
    gap: 30px;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.section-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.header-iteam {
    display: block;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    background-color: #fff;
}
.footer{
    background: #2F303A;

}

.contact-list {

    
}