* {
    text-decoration: none;

}

body {
    font-family: 'Roboto';
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container-four {
    display: flex;
    gap: 30px;
    justify-content: right;
    text-align: right;


}


.margin {
    margin-left: 30px;
}

.section-main {
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;

}


.section-one {
    background: #2F303A;
}

.section-list {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 94px;
    margin-bottom: 94px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-list .section-one {
    background: #2F303A;
    margin-left: auto;
    margin-right: auto;
}

.section-title {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    text-align: center;
    color: #212121;
}

.section-Description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
}

.footer-WebStudio {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.footer-WebStudio1 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: rgb(252, 252, 252);
}

.footer-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    letter-spacing: 0.03em;

    color: #FFFFFF;

}

.header-WebStudio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 2.2142;
    color: #2196F3;
}

.header-WebStudio1 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 2.2142;
    color: #000000;
}


.header-emael {
    color: #757575;
    display: flex;
}

.header-emael:hover {
    color: #2196f3;
}

.header-emael:focus {
    color: #2196f3;
}

.header-phonenumber {
    font-weight: 500;
    font-size: 14px;
    color: #757575;
}

.header-contacts {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-left: auto;
}


.nav-contact:hover {
    color: #2196F3;
}

.section-title-work {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;

    color: #212121;
}

.section-paragraph {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;

    letter-spacing: 0.03em;

    color: #757575;
}

.section-button {
    font-family: 'Roboto';
    font-weight: 670px;
    font-size: 16px;
    vertical-align: middle;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    max-width: 100%;
    display: flex;
    padding: 10px 32px;

    background-color: #2196F3;
    color: #FFFFFF;
}

.container-two {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 200px;
    padding-bottom: 200px;
    gap: 30px;
}




.section-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.header-iteam {
    display: block;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    background-color: #fff;
}

.footer {
    background: #2F303A;

}

.nav-navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header--item {
    justify-content: center;
}

.header-phonenumber {
    color: #757575;
    padding-right: auto;
    display: flex;
}

.header-phonenumber:hover {
    color: #2196f3;
}

.header-container-three {
    display: flex;
    align-items: center;
    justify-content: right;
    justify-content: left;
    gap: 30px;
}

.header-link {
    font-weight: 500;
    color: #212121;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
}

.header-link:hover {
    color: #2196f3;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
}

.header-link:focus {
    color: #2196f3;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
}

.header-contacts {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-left: auto;
}


.header-link {
    justify-content: right;
}



.header-container {
    display: flex;
    margin-right: 344px;

}



.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.03em;
  
    color: #212121;
}


.work-list {
    justify-content: space-evenly;
    display: flex;
    align-items: flex-start;
    align-content: stretch;
    flex-direction: row;
    gap: 30px;
  }
.work-img {
    height: 313px;
    width: 370px;
    margin-left: 50px;
    padding-top: 49px;
}


.team-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}
.team-item {
    background: #ffffff;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 188px;
  
    color: #212121;
}
.team-img {
    padding: 30px;
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 0.842;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
    
}
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 124px;
}

.button-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 94px;
    gap: 8px;}
.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    background: #ffffff;
    color: #212121;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 0px;
}
.hero-button:hover {
    color: #ffffff;
    background: #2196f3;
}



.posters-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding-top: 34px;
    padding-bottom: 94px;
}
  .poster-title {
    width: 322px;
    height: 36px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.poster-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: #757575;
}

.poster-img {
    width: 370px;
    height: 294px;
}