body {
font-family: 'Roboto';
}


.section-main {
    font-weight: 900;
    font-size: 44px;
    line-height: 4.2;
    color: #000000;

}

.section-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    color: #212121;
}

.section-title1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 3;
    color: #212121;

}

.section-Description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: #757575;

}

.footer-WebStudio {
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 2.2142;
color: #2196F3;
}

.footer-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: #000000;
    
}

.header-WebStudio {
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 2.2142;
color: #2196F3;
}

.nav-index {
font-weight: 500;
font-size: 14px;
line-height: 1.142;
color: #2196F3;

}

.nav-portfoli{
font-weight: 500;
font-size: 14px;
line-height: 1.142;
color: #212121;

}

.nav-kontakt {
font-weight: 500;
font-size: 14px;
line-height: 1.142;
color: #212121;
}

.nav-address-email {
font-weight: 500;
font-size: 14px;
line-height: 1.142;
color: #2196F3;

}

.nav-address-phone {
font-weight: 500;
font-size: 14px;
line-height: 1.142;
color: #757575;
}

.section-title-work {
font-weight: 700;
font-size: 18px;
line-height: 2;
color: #212121;

}

.section-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.142;   
    color: #757575;
    
}

.section-title-work {
font-weight: 700;
font-size: 18px;
line-height: 2;
color: #212121;

}

.section-paragraph {
font-weight: 400;
font-size: 16px;
line-height: 0,5333333333333333;
color: #757575;
}